.rule-area-content{
    background-color: aliceblue;
    min-height: 200px;
}
.rules-content{
    background-color: antiquewhite;
    min-height: 300px;
}
.criterias-content{
    background-color: aqua;
}
.rule-editor-content{
    background-color: aquamarine;
}
.criteria-content{
    background-color: rgba(128, 128, 128, 0.534);
    margin: 2px;
}